In [1]:
import csv
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, Imputer
    
import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
Using TensorFlow backend.

In [2]:
filePath = "/home/debargha/Documents/ClimateWatcher/data.csv"

In [4]:
df = pd.read_csv(filePath, engine='python')
pf = df

In [5]:
pf

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
5,152,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.4,25.7,NaN,NaN,NaN,NaN,1990-03-01
6,150,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",5.4,17.1,NaN,NaN,NaN,NaN,1990-04-01
7,151,April - M041990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,8.7,NaN,NaN,NaN,NaN,1990-04-01
8,152,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.2,23.0,NaN,NaN,NaN,NaN,1990-04-01
9,151,May - M051990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.0,8.9,NaN,NaN,NaN,NaN,1990-05-01
10,152,May - M051990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.6,18.6,NaN,NaN,NaN,NaN,1990-05-01
11,150,June - M061990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.9,14.1,NaN,133.0,NaN,NaN,1990-06-01
12,151,June - M061990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,5.6,11.8,NaN,82.0,NaN,NaN,1990-06-01
13,152,June - M061990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.3,19.3,NaN,111.0,NaN,NaN,1990-06-01
14,150,July - M071990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.9,8.2,NaN,118.0,NaN,NaN,1990-07-01
15,152,July - M071990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.5,12.1,NaN,135.0,NaN,NaN,1990-07-01
16,151,July - M071990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,7.9,10.2,NaN,80.0,NaN,NaN,1990-07-01
17,150,August - M081990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.0,9.9,NaN,179.0,NaN,NaN,1990-08-01
18,151,August - M081990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,12.4,11.5,NaN,58.0,NaN,NaN,1990-08-01
19,152,August - M081990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.0,12.3,NaN,99.0,NaN,NaN,1990-08-01
20,150,September - M091990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,11.5,NaN,270.0,NaN,NaN,1990-09-01
21,151,September - M091990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,44.8,13.7,NaN,97.0,NaN,NaN,1990-09-01
22,152,September - M091990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",8.1,17.8,NaN,167.0,NaN,NaN,1990-09-01
23,150,October - M101990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",7.7,11.3,NaN,145.0,NaN,NaN,1990-10-01
24,151,October - M101990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,20.6,13.6,NaN,75.0,NaN,NaN,1990-10-01
25,152,October - M101990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",20.4,27.5,NaN,212.0,NaN,NaN,1990-10-01
26,150,November - M111990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",13.9,7.2,NaN,93.0,NaN,NaN,1990-11-01
27,151,November - M111990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,11.2,18.6,NaN,61.0,NaN,NaN,1990-11-01
28,152,November - M111990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",22.3,35.9,NaN,255.0,NaN,NaN,1990-11-01
29,152,January - M011991,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",24.5,28.0,NaN,197.0,NaN,NaN,1991-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435712,SAMP,29-09-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,12.0,38.0,103.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-09-29
435713,SAMP,03-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,14.0,36.0,113.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-03
435714,SAMP,08-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,41.0,131.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-08
435715,SAMP,11-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,10.0,38.0,88.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-11
435716,SAMP,13-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,12.0,40.0,116.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-13
435717,SAMP,17-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,21.0,52.0,134.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-17
435718,SAMP,19-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,21.0,49.0,178.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-19
435719,SAMP,23-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,47.0,138.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-23
435720,SAMP,28-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,19.0,45.0,126.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-28
435721,SAMP,31-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,11.0,34.0,90.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-31
435722,SAMP,05-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,16.0,40.0,135.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-05
435723,SAMP,07-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,15.0,37.0,136.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-07
435724,SAMP,10-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,67.0,202.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-10
435725,SAMP,11-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,64.0,181.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-11
435726,SAMP,16-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,14.0,42.0,95.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-16
435727,SAMP,20-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,11.0,34.0,118.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-20
435728,SAMP,26-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,17.0,43.0,144.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-26
435729,SAMP,29-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,19.0,49.0,140.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-29
435730,SAMP,03-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,41.0,142.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-03
435731,SAMP,06-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,58.0,155.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-06
435732,SAMP,09-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,145.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-09
435733,SAMP,12-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,34.0,61.0,161.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-12
435734,SAMP,15-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,44.0,148.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-15
435735,SAMP,18-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,17.0,44.0,131.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-18
435736,SAMP,21-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,45.0,140.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-21
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.rename(columns={'stn_code': 'station_code', 'location': 'city', 'location_monitoring_station': 'monitoring_station'}, inplace=True)
df.head()

,station_code,sampling_date,state,city,agency,type,so2,no2,rspm,spm,monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [8]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d') # date parse
df['date'] = df['date'].dt.year # year
df['type'].dropna(axis=0, inplace=True)

In [10]:
df.drop(df.columns[[0,1,4,8,9,10,11]], axis=1, inplace=True)

In [11]:
df

,state,city,type,so2,no2,date
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,1970.0
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,1970.0
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,1970.0
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,1970.0
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,1970.0
5,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.4,25.7,1970.0
6,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",5.4,17.1,1970.0
7,Andhra Pradesh,Hyderabad,Industrial Area,4.7,8.7,1970.0
8,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.2,23.0,1970.0
9,Andhra Pradesh,Hyderabad,Industrial Area,4.0,8.9,1970.0
10,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.6,18.6,1970.0
11,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,14.1,1970.0
12,Andhra Pradesh,Hyderabad,Industrial Area,5.6,11.8,1970.0
13,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.3,19.3,1970.0
14,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,8.2,1970.0
15,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.5,12.1,1970.0
16,Andhra Pradesh,Hyderabad,Industrial Area,7.9,10.2,1970.0
17,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,9.9,1970.0
18,Andhra Pradesh,Hyderabad,Industrial Area,12.4,11.5,1970.0
19,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,12.3,1970.0
20,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,11.5,1970.0
21,Andhra Pradesh,Hyderabad,Industrial Area,44.8,13.7,1970.0
22,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",8.1,17.8,1970.0
23,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",7.7,11.3,1970.0
24,Andhra Pradesh,Hyderabad,Industrial Area,20.6,13.6,1970.0
25,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",20.4,27.5,1970.0
26,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",13.9,7.2,1970.0
27,Andhra Pradesh,Hyderabad,Industrial Area,11.2,18.6,1970.0
28,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",22.3,35.9,1970.0
29,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",24.5,28.0,1970.0
...,...,...,...,...,...,...
435712,West Bengal,ULUBERIA,RIRUO,12.0,38.0,1970.0
435713,West Bengal,ULUBERIA,RIRUO,14.0,36.0,1970.0
435714,West Bengal,ULUBERIA,RIRUO,20.0,41.0,1970.0
435715,West Bengal,ULUBERIA,RIRUO,10.0,38.0,1970.0
435716,West Bengal,ULUBERIA,RIRUO,12.0,40.0,1970.0
435717,West Bengal,ULUBERIA,RIRUO,21.0,52.0,1970.0
435718,West Bengal,ULUBERIA,RIRUO,21.0,49.0,1970.0
435719,West Bengal,ULUBERIA,RIRUO,18.0,47.0,1970.0
435720,West Bengal,ULUBERIA,RIRUO,19.0,45.0,1970.0
435721,West Bengal,ULUBERIA,RIRUO,11.0,34.0,1970.0
435722,West Bengal,ULUBERIA,RIRUO,16.0,40.0,1970.0
435723,West Bengal,ULUBERIA,RIRUO,15.0,37.0,1970.0
435724,West Bengal,ULUBERIA,RIRUO,22.0,67.0,1970.0
435725,West Bengal,ULUBERIA,RIRUO,20.0,64.0,1970.0
435726,West Bengal,ULUBERIA,RIRUO,14.0,42.0,1970.0
435727,West Bengal,ULUBERIA,RIRUO,11.0,34.0,1970.0
435728,West Bengal,ULUBERIA,RIRUO,17.0,43.0,1970.0
435729,West Bengal,ULUBERIA,RIRUO,19.0,49.0,1970.0
435730,West Bengal,ULUBERIA,RIRUO,18.0,41.0,1970.0
435731,West Bengal,ULUBERIA,RIRUO,22.0,58.0,1970.0
435732,West Bengal,ULUBERIA,RIRUO,22.0,50.0,1970.0
435733,West Bengal,ULUBERIA,RIRUO,34.0,61.0,1970.0
435734,West Bengal,ULUBERIA,RIRUO,20.0,44.0,1970.0
435735,West Bengal,ULUBERIA,RIRUO,17.0,44.0,1970.0
435736,West Bengal,ULUBERIA,RIRUO,18.0,45.0,1970.0
435737,West Bengal,ULUBERIA,RIRUO,22.0,50.0,1970.0
435738,West Bengal,ULUBERIA,RIRUO,20.0,46.0,1970.0
435739,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN
435740,Lakshadweep,NaN,NaN,NaN,NaN,NaN
435741,Tripura,NaN,NaN,NaN,NaN,NaN

In [12]:
df.type.value_counts()

Residential, Rural and other Areas    179014
Industrial Area                        96091
Residential and others                 86791
Industrial Areas                       51747
Sensitive Area                          8980
Sensitive Areas                         5536
RIRUO                                   1304
Sensitive                                495
Industrial                               233
Residential                              158
Name: type, dtype: int64

In [13]:
df.type.replace(['Industrial Area', 'Industrial Areas' ,'Sensitive Areas', 'Sensitive Area'],['Industrial', 'Industrial', 'Sensitive', 'Sensitive'], inplace=True)

In [14]:
df.type.value_counts()

Residential, Rural and other Areas    179014
Industrial                            148071
Residential and others                 86791
Sensitive                              15011
RIRUO                                   1304
Residential                              158
Name: type, dtype: int64

In [15]:
encState = df.iloc[:,0]
encCity = df.iloc[:,1]
encType = df.iloc[:,2]

In [16]:
label_encoder = LabelEncoder()
encState = label_encoder.fit_transform(encState)
encType = label_encoder.fit_transform(encType.astype(str))
encCity = label_encoder.fit_transform(encCity.astype(str))

In [17]:
df['state'] = encState
df['city'] = encCity
df['type'] = encType

In [18]:
df.drop(df.columns[[4]], axis=1, inplace=True)

In [21]:
df

        state  city  type   so2    date
0           0   114     4   4.8  1970.0
1           0   114     0   3.1  1970.0
2           0   114     4   6.2  1970.0
3           0   114     4   6.3  1970.0
4           0   114     0   4.7  1970.0
5           0   114     4   6.4  1970.0
6           0   114     4   5.4  1970.0
7           0   114     0   4.7  1970.0
8           0   114     4   4.2  1970.0
9           0   114     0   4.0  1970.0
10          0   114     4   3.6  1970.0
11          0   114     4   3.9  1970.0
12          0   114     0   5.6  1970.0
13          0   114     4   3.3  1970.0
14          0   114     4   3.9  1970.0
15          0   114     4   3.5  1970.0
16          0   114     0   7.9  1970.0
17          0   114     4   4.0  1970.0
18          0   114     0  12.4  1970.0
19          0   114     4   4.0  1970.0
20          0   114     4   6.3  1970.0
21          0   114     0  44.8  1970.0
22          0   114     4   8.1  1970.0
23          0   114     4   7.7  1970.0
24          0   114     0  20.6  1970.0
25          0   114     4  20.4  1970.0
26          0   114     4  13.9  1970.0
27          0   114     0  11.2  1970.0
28          0   114     4  22.3  1970.0
29          0   114     4  24.5  1970.0
...       ...   ...   ...   ...     ...
435712     35   282     1  12.0  1970.0
435713     35   282     1  14.0  1970.0
435714     35   282     1  20.0  1970.0
435715     35   282     1  10.0  1970.0
435716     35   282     1  12.0  1970.0
435717     35   282     1  21.0  1970.0
435718     35   282     1  21.0  1970.0
435719     35   282     1  18.0  1970.0
435720     35   282     1  19.0  1970.0
435721     35   282     1  11.0  1970.0
435722     35   282     1  16.0  1970.0
435723     35   282     1  15.0  1970.0
435724     35   282     1  22.0  1970.0
435725     35   282     1  20.0  1970.0
435726     35   282     1  14.0  1970.0
435727     35   282     1  11.0  1970.0
435728     35   282     1  17.0  1970.0
435729     35   282     1  19.0  1970.0
435730     35   282     1  18.0  1970.0
435731     35   282     1  22.0  1970.0
435732     35   282     1  22.0  1970.0
435733     35   282     1  34.0  1970.0
435734     35   282     1  20.0  1970.0
435735     35   282     1  17.0  1970.0
435736     35   282     1  18.0  1970.0
435737     35   282     1  22.0  1970.0
435738     35   282     1  20.0  1970.0
435739     36   304     6   NaN     NaN
435740     17   304     6   NaN     NaN
435741     31   304     6   NaN     NaN

[435742 rows x 5 columns]