In [2]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, Imputer
import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
Using TensorFlow backend.

In [3]:
filePath = "/home/debargha/Documents/ClimateWatcher/data.csv"

In [4]:
df = pd.read_csv(filePath, engine='python')
pf = df

In [5]:
df.rename(columns={'stn_code': 'station_code', 'location': 'city', 'location_monitoring_station': 'monitoring_station'}, inplace=True)
df.head()

,station_code,sampling_date,state,city,agency,type,so2,no2,rspm,spm,monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [6]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d') # date parse
df['date'] = df['date'].dt.year # year
df['type'].dropna(axis=0, inplace=True)

In [7]:
df.drop(df.columns[[0,1,4,8,9,10,11]], axis=1, inplace=True)

In [9]:
df

,state,city,type,so2,no2,date
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,1990.0
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,1990.0
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,1990.0
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,1990.0
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,1990.0
5,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.4,25.7,1990.0
6,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",5.4,17.1,1990.0
7,Andhra Pradesh,Hyderabad,Industrial Area,4.7,8.7,1990.0
8,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.2,23.0,1990.0
9,Andhra Pradesh,Hyderabad,Industrial Area,4.0,8.9,1990.0
10,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.6,18.6,1990.0
11,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,14.1,1990.0
12,Andhra Pradesh,Hyderabad,Industrial Area,5.6,11.8,1990.0
13,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.3,19.3,1990.0
14,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,8.2,1990.0
15,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.5,12.1,1990.0
16,Andhra Pradesh,Hyderabad,Industrial Area,7.9,10.2,1990.0
17,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,9.9,1990.0
18,Andhra Pradesh,Hyderabad,Industrial Area,12.4,11.5,1990.0
19,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,12.3,1990.0
20,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,11.5,1990.0
21,Andhra Pradesh,Hyderabad,Industrial Area,44.8,13.7,1990.0
22,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",8.1,17.8,1990.0
23,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",7.7,11.3,1990.0
24,Andhra Pradesh,Hyderabad,Industrial Area,20.6,13.6,1990.0
25,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",20.4,27.5,1990.0
26,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",13.9,7.2,1990.0
27,Andhra Pradesh,Hyderabad,Industrial Area,11.2,18.6,1990.0
28,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",22.3,35.9,1990.0
29,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",24.5,28.0,1991.0
...,...,...,...,...,...,...
435712,West Bengal,ULUBERIA,RIRUO,12.0,38.0,2015.0
435713,West Bengal,ULUBERIA,RIRUO,14.0,36.0,2015.0
435714,West Bengal,ULUBERIA,RIRUO,20.0,41.0,2015.0
435715,West Bengal,ULUBERIA,RIRUO,10.0,38.0,2015.0
435716,West Bengal,ULUBERIA,RIRUO,12.0,40.0,2015.0
435717,West Bengal,ULUBERIA,RIRUO,21.0,52.0,2015.0
435718,West Bengal,ULUBERIA,RIRUO,21.0,49.0,2015.0
435719,West Bengal,ULUBERIA,RIRUO,18.0,47.0,2015.0
435720,West Bengal,ULUBERIA,RIRUO,19.0,45.0,2015.0
435721,West Bengal,ULUBERIA,RIRUO,11.0,34.0,2015.0
435722,West Bengal,ULUBERIA,RIRUO,16.0,40.0,2015.0
435723,West Bengal,ULUBERIA,RIRUO,15.0,37.0,2015.0
435724,West Bengal,ULUBERIA,RIRUO,22.0,67.0,2015.0
435725,West Bengal,ULUBERIA,RIRUO,20.0,64.0,2015.0
435726,West Bengal,ULUBERIA,RIRUO,14.0,42.0,2015.0
435727,West Bengal,ULUBERIA,RIRUO,11.0,34.0,2015.0
435728,West Bengal,ULUBERIA,RIRUO,17.0,43.0,2015.0
435729,West Bengal,ULUBERIA,RIRUO,19.0,49.0,2015.0
435730,West Bengal,ULUBERIA,RIRUO,18.0,41.0,2015.0
435731,West Bengal,ULUBERIA,RIRUO,22.0,58.0,2015.0
435732,West Bengal,ULUBERIA,RIRUO,22.0,50.0,2015.0
435733,West Bengal,ULUBERIA,RIRUO,34.0,61.0,2015.0
435734,West Bengal,ULUBERIA,RIRUO,20.0,44.0,2015.0
435735,West Bengal,ULUBERIA,RIRUO,17.0,44.0,2015.0
435736,West Bengal,ULUBERIA,RIRUO,18.0,45.0,2015.0
435737,West Bengal,ULUBERIA,RIRUO,22.0,50.0,2015.0
435738,West Bengal,ULUBERIA,RIRUO,20.0,46.0,2015.0
435739,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN
435740,Lakshadweep,NaN,NaN,NaN,NaN,NaN
435741,Tripura,NaN,NaN,NaN,NaN,NaN

In [10]:
df.type.value_counts()

Residential, Rural and other Areas    179014
Industrial Area                        96091
Residential and others                 86791
Industrial Areas                       51747
Sensitive Area                          8980
Sensitive Areas                         5536
RIRUO                                   1304
Sensitive                                495
Industrial                               233
Residential                              158
Name: type, dtype: int64

In [11]:
df.type.replace(['Industrial Area', 'Industrial Areas' ,'Sensitive Areas', 'Sensitive Area'],['Industrial', 'Industrial', 'Sensitive', 'Sensitive'], inplace=True)

In [12]:
df.type.value_counts()

Residential, Rural and other Areas    179014
Industrial                            148071
Residential and others                 86791
Sensitive                              15011
RIRUO                                   1304
Residential                              158
Name: type, dtype: int64

In [13]:
encState = df.iloc[:,0]
encCity = df.iloc[:,1]
encType = df.iloc[:,2]

In [14]:
label_encoder = LabelEncoder()
encState = label_encoder.fit_transform(encState)
encType = label_encoder.fit_transform(encType.astype(str))
encCity = label_encoder.fit_transform(encCity.astype(str))

In [15]:
df['state'] = encState
df['city'] = encCity
df['type'] = encType

In [16]:
df.drop(df.columns[[4]], axis=1, inplace=True)

In [17]:
model = Sequential()
model.add(LSTM(input_shape=(435742,6),output_dim = 435742, return_sequences=True))
model.add(Dropout(0.5))
model.add(LSTM(435742))
model.add(Dropout(0.5))
model.add(Dense(2, activation='softmax'))
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.summary()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(input_shape=(435742, 6..., return_sequences=True, units=435742)`

MemoryError: